image: docker:latest

services:
  - docker:dind

variables:
  IMAGE_NAME: registry.gitlab.com/ripitchip/418-teapot
  DOCKER_TLS_CERTDIR: ""

stages:
  - build
  - dockerize

# STEP 1: Build mdBook site
build:mdbook:
  image: rust:latest
  stage: build
  before_script:
    - apt-get update && apt-get install -y --no-install-recommends curl
    - cargo install mdbook \
      && cargo install mdbook-tera-backend \
      && cargo install i18n-report \
      && cargo install mdbook-i18n-helpers \
      && cargo install mdbook-mermaid \
      && cargo install mdbook-tabs
  script:
    - mdbook build
    - MDBOOK_BOOK__LANGUAGE=fr mdbook build -d book/fr
  artifacts:
    paths:
      - book/
      - VERSION.txt
    expire_in: 1 hour
  only:
    - main

# STEP 2: Dockerize static site using Nginx
docker:nginx:
  image: docker:latest
  stage: dockerize
  dependencies:
    - build:mdbook
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
  script:
    - mkdir -p docker/book
    - cp -r book/* docker/book/
    - VERSION=$(cat VERSION.txt)
    - docker build -t "$IMAGE_NAME:latest" -t "$IMAGE_NAME:$VERSION" -f docker/Dockerfile docker/
    - docker push "$IMAGE_NAME:latest"
    - docker push "$IMAGE_NAME:$VERSION"
  only:
    - main